body {
    background: #EEE;
    font-family: Helvetica, sans-serif;
}

img#logo {
    display: block;
    margin: 10px auto;
}

form {
    border: 2px solid #888;
    margin: 10px auto;
    padding: 10px;
    width: 400px;
    clear: both;
    text-align: center;
}

form div {
     display: block;
}

ul.errors {
    margin: 5px;
    text-align: left;
}

legend {
    margin: 5px auto;
}

fieldset {
    border: none;
    padding: 5px;
}

label.login-field {
    display: inline-block;
    text-align: right;
    width: 140px;
    margin: 2px 5px 0px 0px;
}

input.login-field {
    width: 100px;
}

input.button {
    margin: 5px;
}

ul.errors {
    color: red;
    font-weight: bold;
    margin: 0px;
}

.alert-message {
    /* TODO: style alerts */
}

.alert-error {
    color: red;
}
.alert-success {
    color: green;
}
