<!DOCTYPE html>
<html>
  <head>
    <title>Squash</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>

  <body>
    <div class="heading">
      <img src="/static/images/logo.png" alt="SQUASH" id="logo" />
      <h1>Squash: the app</h1>
      <h3 id="username"></h3>
    </div>

    <div id="rooms">
      Loading rooms...
    </div>

    <form>
      <legend>Log in to start squashing!</legend>
      <fieldset>
	<div><label for="username">Username:</label><input type="text" name="username" class="login-field"/></div>
	<div><label for="password">Password:</label><input type="text" name="password" class="login-field"/></div>
      </fieldset>
      <input type="submit" value="squash squash" class="button" />
    </form>

    <div>
      <p>Log:</p>
      <ul id="log"></ul>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>
</html>
