<!DOCTYPE html>
<html>
  <head>
    <title>Squash</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>

  <body>
    <div class="heading">
      <h1>Squash: the app</h1>
    </div>

    <div>
      <p>Log:</p>
      <ul id="log"></ul>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>
</html>