{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <form method="POST" action="/login">
    <legend>Log in to start squashing!</legend>
    {% if form.errors %}
      <ul class="errors">
      {% for fieldName, fieldErrors in form.errors|dictsort if fieldErrors %}
        {% for error in fieldErrors %}
          <li>Error: {{ error }}</li>
        {% endfor %}
      {% endfor %}
      </ul>
    {% endif %}
    <fieldset>
      <div>{{ form.username.label(class="login-field") }}{{ form.username(class="login-field") }}</div>
      <div>{{ form.password.label(class="login-field") }}{{ form.password(class="login-field") }}</div>
    </fieldset>
    <input type="submit" value="squash squash" class="button" />

    <hr/>
    Or, <a href="register">create an account</a> now!
  </form>
{% endblock %}

{% block scripts %}
{% endblock %}
