{% extends "layout.html" %}

{% block title %}The Game{% endblock %}

{% block content %}
  <div id="room">
    <div id="room-title">
      <h4 class="room-name">{{ room.name }}</h4>
      <p class="room-users">Users: {{ room.users|join(', ') }}</p>
    </div>

    <div id="room-content">
      <p id="game-status">
        Waiting for <span class="remaining"></span> more players...
      </p>
    </div>

    <a class="bottom" href="/">Return to Lobby</a>
  </div>

  <div>
    <p>Log:</p>
    <ul id="log"></ul>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="/static/js/squash.js"></script>
{% endblock %}
